/Duck.class
/MallardDuck.class
/RedheadDuck.class
/RubberDuck.class
/DecoyDuck.class
/MainApp.class
/FlyBehavior.class
/QuackBahavior.class
/FlyWithWings.class
/FlyNoWay.class
/Quack.class
/Squeak.class
/MuteQuack.class
/TestStrategyPattern.class
